{% extends "base.html" %}

{% block content %}

<div class="span-24">
    <a href="https://github.com/srid/weeklyreddit"><img style="float: right; position: relative; top: 0; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_orange_ff7600.png" alt="Fork me on GitHub"></a>
  <div class="box">
    <p>Let's face it. <b>Reading reddit <i>every day</i> kills
        productivity.</b> But still, reddit occasionally has some
      interesting and/or worthy links. I often enjoy reading the
      links, along with comments, posted in the programming subreddit.
    </p>
    
    <p>This site helps you to establish a habit to <b>read reddit only
        once a week</b>.
    </p>
    
    <p>How? Simply add the following feed to your feed reader
      <b>and</b> never go to the reddit site except through the weekly
      feed updates.
    </p>
    
    <p style="text-align: center">
      <a href="/rss/programming"><b>r/programming</b></a>
      [rss - weekly]
    </p>
    
    <p>To subscribe to other sub reddits, in the above URL simply change
      <code>/rss/programming</code> to
      <code>/rss/yoursubreddit</code>. To subscribe to the main
      reddit, use <a href="/rss">this link</a>.
    </p>
    
    <p class="small">This app was developed
      by <a href="http://purl.org/NET/srid/">Sridhar Ratnakumar</a>. Source code
      is available
      at <a href="http://github.com/srid/weeklyreddit">github</a>.
    </p>
  </div>


</div>

{% endblock %}
